<h2>{{resort_name}}, {{ state }}</h2>
<p class='nomarginbottom'><a target='new' href='"{{resort_website}}"'>{{resort_website}}</a></p>

<section class="smallRightPad col-md-9">
    <h3 class="minPhoneWidth">Ratings for {{ dateFormat date }}</h3>
    <div class="smallItalic">Generated on {{ createdOn }} PST</div>
    <span class="ital"><a href="/resorts?resort={{resort}}&date={{previousDate}}">Previous Day</a></span> |
    <span class="ital"><a href="/resorts?resort=<?= $resort ?>&date=<?= $nextDate ?>">Next Day</a></span>

    <table cellpadding="3" id="resortDetailRatings">
    <tr>
        <td><h4>Powder</h4></td>
        <td><h6>{{powder.rating}}</h6></td>
        <td><div class="flakes-large" style="width: {{calculateRatingWidth powder.rating 'large'}}px" title="Rating: {{powder.rating}}/ 5"></div>
    </tr>
    <tr>
        <td><h4>Snow Quality</h4></td>
        <td><h6>{{snow_quality.rating}}</h6></td>
        <td><div class="stars-large" style="width: {{calculateRatingWidth snow_quality.rating 'large'}}px" title="Rating: {{snow_quality.rating}}/ 5"></td>
    </tr>
    <tr>
        <td><h4>Bluebird</h4></td>
        <td><h6>{{bluebird.rating}}</h6></td>
        <td><div class="suns-large" style="width: {{calculateRatingWidth bluebird.rating 'large'}}px" title="Rating: {{bluebird.rating}}/ 5"></td>
    </tr>
    <tr>
        <td><h5>Freezing <br/> Level</h5></td>
        <td><h6>{{freezing_level.freezing_level_avg}}
            {{#if freezing_level.freezing_level_avg}}
                 ft
            {{else}}
                 m
            {{/if}}
        </h6></td>
        <td>
            <div class='mtnContainer-large'><div class='mtnShading-large' style='background-position-y:  {{calculateFreezingLevelOffset freezing_level.rating freezing_level.freezing_level_avg 'large'}}px;' title='Freezing Level: {{freezing_level.freezing_level_avg}}'></div></div>
        </td>
    </tr>
    </table>

</section>
<section class="col-md-3" id="rdp_sidebar"></section>