<h2>{{resort_name}}, {{ state }}</h2>
<p class='nomarginbottom'><a target='new' href="{{resort_website}}"">{{resort_website}}</a></p>

<section class="smallRightPad col-md-9">
    <h3 class="minPhoneWidth">Ratings for {{ americanDateFormat date }}</h3>
    <div class="smallItalic">Generated on {{ removePostDecimal createdOn }} PST</div>
    <span class="ital"><a href="#/resort/{{resort}}/{{addDaysToDate date -1}}">Previous Day</a></span> |
    <span class="ital"><a href="#/resort/{{resort}}/{{addDaysToDate date 1}}">Next Day</a></span>

    <table cellpadding="3" id="resortDetailRatings">
    <tr>
        <td><h4>Powder</h4></td>
        <td><h6>{{powder.rating}}</h6></td>
        <td><div class="flakes-large" style="width: {{calculateRatingWidth powder.rating 'large'}}px" title="Rating: {{powder.rating}}/ 5"></div>
    </tr>
    <tr>
        <td><h4>Snow Quality</h4></td>
        <td><h6>{{snow_quality.rating}}</h6></td>
        <td><div class="stars-large" style="width: {{calculateRatingWidth snow_quality.rating 'large'}}px" title="Rating: {{snow_quality.rating}}/ 5"></td>
    </tr>
    <tr>
        <td><h4>Bluebird</h4></td>
        <td><h6>{{bluebird.rating}}</h6></td>
        <td><div class="suns-large" style="width: {{calculateRatingWidth bluebird.rating 'large'}}px" title="Rating: {{bluebird.rating}}/ 5"></td>
    </tr>
    <tr>
        <td><h5>Freezing <br/> Level</h5></td>
        <td><h6>{{numberWithCommas freezing_level.freezing_level_avg}} 
            {{feetOrMeters resortData.domestic}}
        </h6></td>
        <td>
            <div class='mtnContainer-large'><div class='mtnShading-large' style='background-position-y:  {{calculateFreezingLevelOffset freezing_level.rating freezing_level.freezing_level_avg 'large'}}px;' title='Freezing Level: {{numberWithCommas freezing_level.freezing_level_avg}}'></div></div>
        </td>
    </tr>
    </table>

    <h4>Snowfall Projections for {{ dateFormat date }}</h4>
        <div class="smallItalic divider">Mid-mountain elevations</div>
        <ul class="precipitationPotential">
          <li class="firstLiDetail">
            <p class="measure">{{displayPrecipAmount powder.snow_new isDomestic}}</p>
            <p class="measureLabel">Last 24hrs</p>
          </li>
          <li>
            <p class="measure">{{displayPrecipAmount powder.snow_prev isDomestic}}</p>
            <p class="measureLabel">Last 72 hrs</p>
          </li>
          <li>
            <p class="measure">{{displayPrecipAmount powder.snow_forecast isDomestic}}</p>
            <p class="measureLabel">New Daytime</p>
          </li>
        </ul>

        {{#if isDomestic}}
            <div class="clearDivider"></div>
            <i>NOAA Weather Summary</i>: {{bluebird.weather_summary}}
            <br/>
        {{/if}}

        <div class="clearDivider"></div>

</section>

<section class="col-md-3">

{{#if resortData.liftieId}}
    <h4>Live Lift Status</h4>
    <div id="liftie" class="liftie-widget" data-resort="{{ resortData.liftieId }}" data-style="naked"/>
{{/if}}

<h4>Mountain Stats</h4>
<table id="mountainStatsTable">
<tbody>
<tr><td>Summit Elevation<br> ({{feetOrMeters resortData.domestic}} approx)</td><td>{{numberWithCommas resortData.summit_elevation}}</td></tr>
<tr><td>Base Elevation<br> ({{feetOrMeters resortData.domestic}}, approx)</td><td>{{numberWithCommas resortData.base_elevation}}</td></tr>
<tr><td>Latitude</td><td>{{resortData.latitude}}</td></tr>
<tr><td>Longitude</td><td>{{resortData.longitude}}</td></tr>
</tbody></table>


<h4>Data Sources</h4>

{{#if resortData.isDomestic}}
<a target='new' href='http://forecast.weather.gov/MapClick.php?unit=0&lg=english&FcstType=text&lat={{resortData.latitude}}&lon={{resortData.longitude}}'>{{resort_name}} NOAA Forecast</a><br/>
{{/if}}
<a target='new1' href='http://www.snow-forecast.com/resorts/{{resortData.snowforecast_id}}/6day/mid'>{{resortData.name}} Snow-Forecast.com Weather <br/><img src='../images/snowforecast-logo.jpg' class='smallmarginbottom'/></a><br/>

<a target='new2' href='http://opensnow.com'>OpenSnow.com<br/><img src='../images/opensnow_logo.png'/></a>

</section>

<div class='divider'></div>
<h4>Rating Trends for {{resort_name}}</h4>
<div class="ital">Click any rating point to load rating details for that date.</div>
<div id='chartData'></div>

<div class='divider'></div>

<h4>Nearby Resort Ratings for {{ americanDateFormat date }}</h4>

