
{{#if liftieId}}
    <h4>Live Lift Status</h4>
    <div id="liftie" class="liftie-widget" data-resort="{{ liftieId }}" data-style="naked"/>
{{/if}}

<h4>Mountain Stats</h4>
<table>
<tbody>
<tr><td>Summit Elevation<br> ({{feetOrMeters domestic}} approx)</td><td>{{summit_elevation}}</td></tr>
<tr><td>Base Elevation<br> ({{feetOrMeters domestic}}, approx)</td><td>{{base_elevation}}</td></tr>
<tr><td>Latitude</td><td>{{latitude}}</td></tr>
<tr><td>Longitude</td><td>{{longitude}}</td></tr>
</tbody></table>


<h4>Data Sources</h4>

<!--
if ($isDomestic) {
    echo "<a target='new' href='http://forecast.weather.gov/MapClick.php?unit=0&lg=english&FcstType=text&lat=" .
        $resortInfo->{'latitude'} . "&lon=" . $resortInfo->{'longitude'} . "'>$resortName NOAA Forecast</a><br/>\n";
} -->
<a target='new1' href='http://www.snow-forecast.com/resorts/{{snowforecast_id}}/6day/mid'>{{name}} Snow-Forecast.com Weather <br/><img src='../images/snowforecast-logo.jpg' class='smallmarginbottom'/></a><br/>

<a target='new2' href='http://opensnow.com'>OpenSnow.com<br/><img src='../images/opensnow_logo.png'/></a>